[submodule "Submodules/citybik.es-api"]
	path = Submodules/citybik.es-api
	url = https://github.com/tomkowz/citybik.es-api.git
[submodule "Submodules/Swifternalization"]
	path = Submodules/Swifternalization
	url = https://github.com/tomkowz/Swifternalization.git
