<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CBModel.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>City Bike WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CityBike.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D0EBE531B2033FB003ED872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D0EBE681B2033FB003ED872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D8062DC1B31BC4600E2F7FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D8062E61B31BC4600E2F7FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D8063091B31BF0900E2F7FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D8063131B31BF0900E2F7FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D8DC0B51B369DDD00B80C63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
